:root {
  --form-border-radius: 10px;
  --fcc-brand-color: rgb(27, 27, 50);
  --fcc-brand-light-green: #acd157;
  --fcc-brand-gray-05: #f5f6f7;
  --fcc-brand-gray-10: #dfdfe2;
  --fcc-brand-gray-15: #d0d0d5;
  --fcc-brand-gray-75: #3b3b4f;
  --form-item-border-color: rgb(27, 27, 50, 0.35);
  --font-family: "Roboto Mono", sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(35deg, #ccffff, #ffcccc);
  min-height: 100vh;
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.form-container {
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: var(--form-border-radius);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 1150px;
  margin: auto;
  margin-block: 2rem;
}

.fcc-brand-aside {
  width: max-content;
  padding-inline: 2rem;
  background-color: var(--fcc-brand-color);
  border-top-left-radius: var(--form-border-radius);
  border-bottom-left-radius: var(--form-border-radius);
}

.fcc-logo-wrapper {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
}

.form-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

header {
  border-bottom: 1px solid var(--fcc-brand-gray-15);
  text-align: center;
}

header p {
  margin-bottom: 3rem;
}

#survey-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  border-bottom: 1px solid var(--fcc-brand-gray-10);
  padding-block: 1rem;
}

.form-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}

.form-item > label {
  min-width: 200px;
}

.label-base {
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: bold;
  align-self: center;
}

.form-group input,
.form-group select {
  max-height: 2.5rem;
  padding: 0.5rem;
  border: 1px solid var(--fcc-brand-gray-15);
  border-radius: 5px;
  font-family: var(--font-family);
}

.form-group input[type="text"],
.form-group input[type="email"] {
  min-width: 400px;
}

input::placeholder {
  color: var(--fcc-brand-color);
  opacity: 0.75;
  font-family: var(--font-family);
}

input:focus,
select:focus {
  outline-color: yellowgreen;
}

input[name="score"] {
  width: max-content;
  min-width: unset;
}

.form-item-checkbox {
  margin-block: 0.75rem;
}

.form-item-radio input,
.form-item-checkbox input {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  height: 1rem;
  width: 1rem;
  border: 1px solid var(--fcc-brand-gray-15);
  margin: 0;
  margin-right: 1rem;
}

.form-item-radio input {
  border-radius: 50%;
}

.form-item-radio input:checked,
.form-item-checkbox input:checked {
  background-color: var(--fcc-brand-color);
}

.form-item.comments {
  flex-direction: column !important;
}

.form-item.comments .label-base {
  align-self: unset;
}

.form-item.comments textarea {
  padding: 0.5rem;
  border: 1px solid var(--fcc-brand-gray-15);
  border-radius: 5px;
  font-family: var(--font-family);
}

.form-group.submit {
  display: grid;
  place-items: center;
}

button[type="submit"] {
  padding: 1rem 2rem;
  background-color: var(--fcc-brand-light-green);
  border: none;
  border-radius: 10px;
  font-family: var(--font-family);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--fcc-brand-gray-75);
}

footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-block: 1rem;
  gap: 0.75rem;
}

footer .github a {
  height: 24px;
}

@media (max-width: 975px) {
  main {
    margin-inline: 1rem;
  }
  .form-container {
    flex-direction: column;
  }

  .form-main {
    padding-inline: 1rem;
  }

  .fcc-brand-aside {
    padding: 0;
    border-top-right-radius: var(--form-border-radius);
    border-bottom-left-radius: 0;
    width: 100%;
  }

  .fcc-logo-wrapper {
    padding-block: 1rem;
  }

  .form-item {
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1rem;
  }

  .label-base {
    align-self: unset;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="number"],
  .form-group select {
    min-width: unset;
  }
}
